h1 Welcome

.items-list
  h2 All items
  table.items
    tr.header
      th Name
      th Price
      th Action
    - @items.each do |item|
      tr.item
        td = item.name
        td = item.price
        td
          = form_tag controller: :cart, action: :add_item
            = hidden_field_tag "item_id", item.id
            = submit_tag 'Add to cart'
