<h1> Welcome </h1>

<div class='items_list'>
  All items
  <table class='items'>
    <tr class='header'>
      <th> Name </td>
      <th> Price </td>
      <th> Action </td>
    </tr>
    <% @items.each do |item| %>
      <tr class='item'>
        <td> <%= item.name %> </td>
        <td> <%= item.price %> </td>
        <td> <button class='add_to_cart_btn'> Add to cart </button> </td>
      </tr>
    <% end %>
  </table>
</div>
